.users-search{
    padding: 1rem;
    margin-bottom: 2rem;
    border: 1px solid #ebebeb;
}

.users-list{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}