.users-item{
    padding: 1.5rem;
    border: 1px solid #f5f5f5;
    transition: all 200ms ease;
    position: relative;
    border-radius: 8px;
}

.users-item:hover{
    box-shadow: 0px 2px 10px rgba(0,0,0, 0.08);
    border: 1px solid transparent;
}

.users-item-title{
    font-size: 1rem;
    margin-bottom: 1rem;
}

.users-item-text{
    font-size: .95rem;
    color: #444;
    margin-bottom: .5rem;
}

.users-item-link{
    font-size: .85rem;
    font-style: italic;
    text-decoration: underline;
}

.users-item-idx{
    position: absolute;
    right: 0.5rem;
    top: -1.5rem;
    font-size: 7rem;
    font-weight: 800;
    opacity: 0.03;
}